//actually it might be loaded by webpack.
//Any preprocessors you like. jscss, scss, stylus. Just need do this using loader. Had no chance do this.

body {
  margin-top: 0px;
  padding: 0px;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.loginBtn {
  background-color: transparent;
  border: 1px solid black;
  line-height: 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  display: flex;
}

.user-block {
  flex: 1;
}

.user {
  border-right: 1px solid;
  padding-right: 5px;
}

.content {
  flex: 5;
  padding-left: 10px;
}

.fn {
  display: block;
  font-style: italic;
  margin-bottom: 5px;
}

.driver {
  padding: 10px 0;
  border-bottom: 1px solid;
  display: flex;
}

.info {
  width: 100%;
  padding: 0 10px;
}

.driver-name {
  display: block;
  font-size: 1.4em;
  padding-bottom: 5px;
}

.image {
  height: 120px;
  width: 120px;
}
